<%= content_tag(:div, class: ) do %>
  <% flash.each do |type, data| %>
    <%= binding.pry %>
    <%= render NotificationComponent.new(type: type, data: data) %>
  <% end %>
<% end %>
<%= content_tag(:div, class: "py-10") do %>
  <%= content_tag(:div, class: "max-w-7xl mx-auto px-4 sm:px-6 lg:px-8") do %>
    <header>
      <%= content_tag(:h1, class: "text-3xl font-bold leading-tight text-gray-900") do %>
        Profile
      <% end %>
      <%= content_tag(:div, class: "pt-1.5") do %>
        <%= content_tag(:p, class: "text-sm font-medium text-gray-500") do %>
          Your anonymous Turing Slack Id:
          <%= @current_user.display_slack_id %>
        <% end %>
      <% end %>
    </header>
    <main>
      <%= render partial: "users/profile" %>
      <%= content_tag(:div, class: "px-4 py-8 sm:px-0") do %>
        <%= render(SalariesComponent.new(salaries: @salaries)) %>
      <% end %>
    </main>
  <% end %>
<% end %>
