<!DOCTYPE html>
<html>
  <head>
    <title>Salaries</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %> 
    <%= content_tag(:div, class: "w-full absolute") do %>
      <% flash.each do |type, data| %>
        <%= render(NotificationComponent.new(type: type, data: data)) %>
      <% end %>
    <% end %>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </body>
</html>
